.custom-button {
    min-width: 180px;
    width: auto;
    height: 40px;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding: 0 20px 0 20px;
    font-size: 12px;
    background-color: rgb(180, 7, 7);
    color: white;

    border: none;
    cursor: pointer;
 }
  