.cart-icon {
  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 24px;
      filter: invert(17%) sepia(73%) saturate(6593%) hue-rotate(29deg) brightness(102%) contrast(101%);
      height: 24px;
    }
  
    .item-count {
      padding:5px;
      font-weight: bold;
      bottom: 12px;
    }
  }
  